#addForm
 {
	display: none;
	border: 1em solid #3366FF;
	height: 30%;
	width: 50%;
	position: absolute; /*让节点脱离文档流,我的理解就是,从页面上浮出来,不再按照文档其它内容布局*/
	top: 24%; /*节点脱离了文档流,如果设置位置需要用top和left,right,bottom定位*/
	left: 24%;
	z-index: 2; /*个人理解为层级关系,由于这个节点要在顶部显示,所以这个值比其余节点的都大*/
	background: white;
}